Repository cherali/datepickerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

ignore folders
  .prettierignore
  eslint.config.js
Due: npm run lint, npm run format

add de-selection in range to multi select picker
  __test__/pickers/MultiSelectPicker.test.ts
  src/pickers/MultiSelectPicker.ts
  src/types/MultiSelectTypes.ts
Due: npm run lint, npm run format

0.2.0
  package.json
Due: npm run format

doc generation file
  etc/drm-datepickerjs.api.md
Due: npm run format

update example and add de-selection
  examples/angular/MultiSelectPicker/multi-select-picker.component.html
  examples/angular/MultiSelectPicker/multi-select-picker.component.ts
  examples/js/multiSelectPicker.ts
  examples/raect-native/MultiSelectPicker.tsx
  examples/react/MultiSelectPicker.tsx
  examples/react/TwoSideRangePicker.tsx
  examples/svelte/MultiSelectPicker.svelte
  examples/svelte/TwoSideRangePicker.svelte
  examples/vue/MultiSelectPicker.vue
  examples/vue/TwoSideRangePicker.vue
Due: npm run lint, npm run format

add sample images
  README.md
  assets/datepicker-event.png
  assets/datepicker-fill.png
  assets/datepicker-localization-gregorian.png
  assets/datepicker-localization.png
  assets/datepicker-space.png
  assets/multi-select-picker.png
  assets/range-picker.png
Due: npm run format

add badges
  README.md
Due: npm run format

update documentation
  README.md
  markdown/complexity.md
  markdown/customization.md
  markdown/diveDeep.md
Due: npm run format

1.0.0
  package.json
Due: npm run format

update readme
  README.md
Due: npm run format

1.0.1
  package.json
Due: npm run format

update doc
  README.md
  examples/examples.md
Due: npm run format

1.0.2
  package.json
Due: npm run format

set sideEffect to false
  package.json
Due: npm run format

1.0.3
  package.json
Due: npm run format

tests
  __test__/pickers/DatePicker.test.ts
Due: npm run lint, npm run format

update packages
  package.json
Due: npm run format

use istanbul as test provider
  package.json
  vite.config.ts
Due: npm run lint, npm run format

set allowSyntheticDefaultImports to false
  tsconfig.json
Due: npm run format

fix breaking tests
  __test__/pickers/DatePicker.test.ts
  __test__/pickers/MultiSelectPicker.test.ts
Due: npm run lint, npm run format

add changelog
  CHANGELOG.md
Due: npm run format

2.0.0
  package.json
Due: npm run format

disable source map
  CHANGELOG.md
  tsconfig.json
Due: npm run format

2.1.0
  package.json
Due: npm run format

Remove examples and src folders from final output
  CHANGELOG.md
  package.json
Due: npm run format

2.1.1
  package.json
Due: npm run format

add doc for types
  docs/drm-datepickerjs.daysstatetypes.md
  docs/drm-datepickerjs.md
  docs/drm-datepickerjs.pickerdayrendertype.md
  docs/drm-datepickerjs.pickermode.md
  docs/drm-datepickerjs.pickermonthstate.md
  docs/drm-datepickerjs.pickerstate.md
  etc/drm-datepickerjs.api.md
  src/types/PickerTypes.ts
Due: npm run lint, npm run format

update scripts
  package.json
Due: npm run format

update github workflow
  .github/workflows/release_package.yml
Due: none

changelog for 2.1.2
  CHANGELOG.md
Due: npm run format

2.1.2
  package.json
Due: npm run format

update doc
  docs/drm-datepickerjs.md
  docs/drm-datepickerjs.pickermonthstate.md
  src/types/PickerTypes.ts
Due: npm run lint, npm run format

changelog v2.1.3
  CHANGELOG.md
Due: npm run format

2.1.3
  package.json
Due: npm run format

Path conditions:
  npm run lint: any of: *.{ts,js}
  npm run format: (any of: *.{ts,js}) or (any of: *.{json,md})
