Repository cherali/datepickerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc.json:

{
  "*.{ts,js}": ["npm run lint", "npm run format"],
  "*.{json,md}": "npm run format"
}

update pkgs
  package.json
Due: npm run format

add run commands
  package.json
Due: npm run format

add folders to eslint ignore
  eslint.config.js
Due: npm run lint, npm run format

add test config to vite.config
  vite.config.ts
Due: npm run lint, npm run format

add config to tsconfig
  tsconfig.json
Due: npm run format

add dev files
  index.html
  main.tsx
Due: none

add build optimization
  package.json
  vite.config.ts
Due: npm run lint, npm run format

update packages
  package.json
Due: npm run format

add [DatePicker, RangePicker, MultiSelectPicker]
  src/core/BasePicker.ts
  src/core/EventEmitter.ts
  src/docEntry.ts
  src/index.ts
  src/pickers/DatePicker.ts
  src/pickers/MultiSelectPicker.ts
  src/pickers/RangePicker.ts
  src/types/BasePickerTypes.ts
  src/types/EventEmitterTypes.ts
  src/types/MultiSelectTypes.ts
  src/types/PickerTypes.ts
  src/types/RangePickerTypes.ts
  src/utils/dateUtils.ts
Due: npm run lint, npm run format

update api-extractor
  api-extractor.json
Due: npm run format

add test files
  __test__/core/EventEmitter.test.ts
  __test__/pickers/DatePicker.test.ts
  __test__/pickers/MultiSelectPicker.test.ts
  __test__/pickers/RangePicker.test.ts
  __test__/utils/dateUtils.test.ts
Due: npm run lint, npm run format

fix multi select formatter bug
  __test__/pickers/MultiSelectPicker.test.ts
  src/pickers/MultiSelectPicker.ts
  src/types/MultiSelectTypes.ts
Due: npm run lint, npm run format

package.json properties
  package.json
Due: npm run format

add github workflows
  .github/workflows/release_package.yml
Due: none

typescript version
  package.json
Due: npm run format

change scripts to use npm
  package.json
Due: npm run format

change package name
  package.json
Due: npm run format

update package name
  README.md
  package.json
  vite.config.ts
Due: npm run lint, npm run format

0.1.1
  package.json
Due: npm run format

update picker name in examples
  examples/js/multiSelectPicker.ts
  examples/js/simpleDatePicker.ts
  examples/js/twoSideRangePicker.ts
  examples/react/DatePicker.tsx
  examples/react/MultiSelectPicker.tsx
  examples/react/TwoSideRangePicker.tsx
Due: npm run lint, npm run format

change config to export .umd.js
  package.json
  vite.config.ts
Due: npm run lint, npm run format

0.1.2
  package.json
Due: npm run format

export for iife
  vite.config.ts
Due: npm run lint, npm run format

0.1.3
  package.json
Due: npm run format

update doc
  markdown/localization.md
  markdown/usage.md
Due: npm run format

build option
  package.json
  vite.config.ts
Due: npm run lint, npm run format

change document - dive deep
  markdown/diveDeep.md
Due: npm run format

add react native examples
  examples/raect-native/DatePicker.tsx
  examples/raect-native/MultiSelectPicker.tsx
  examples/raect-native/TwoSideRangePicker.tsx
Due: none

minor change in examples
  examples/js/multiSelectPicker.ts
  examples/react/DatePicker.tsx
  examples/react/MultiSelectPicker.tsx
  examples/react/TwoSideRangePicker.tsx
Due: npm run lint, npm run format

react-native examples
  examples/raect-native/MultiSelectPicker.tsx
  examples/raect-native/TwoSideRangePicker.tsx
Due: none

change fn name
  examples/js/simpleDatePicker.ts
  examples/raect-native/DatePicker.tsx
Due: npm run lint, npm run format

fix example warnings
  examples/react/DatePicker.tsx
  examples/react/MultiSelectPicker.tsx
  examples/react/TwoSideRangePicker.tsx
Due: none

replace shiftKey with ctrlKey for range selection in examples
  README.md
  examples/js/multiSelectPicker.ts
  examples/react/MultiSelectPicker.tsx
  markdown/customization.md
Due: npm run lint, npm run format

add vue examples
  examples/vue/DatePicker.vue
  examples/vue/MultiSelectPicker.vue
  examples/vue/TwoSideRangePicker.vue
Due: none

add angular examples
  examples/angular/DatePicker/date-picker.component.html
  examples/angular/DatePicker/date-picker.component.ts
  examples/angular/MultiSelectPicker/multi-select-picker.component.html
  examples/angular/MultiSelectPicker/multi-select-picker.component.ts
  examples/angular/TwoSideRangePicker/two-side-range-picker.comopnent.html
  examples/angular/TwoSideRangePicker/two-side-range-picker.comopnent.ts
Due: npm run lint, npm run format

update examples
  examples/react/DatePicker.tsx
  examples/react/MultiSelectPicker.tsx
  examples/react/TwoSideRangePicker.tsx
  examples/vue/DatePicker.vue
  examples/vue/MultiSelectPicker.vue
  examples/vue/TwoSideRangePicker.vue
Due: none

add svelte examples
  examples/svelte/DatePicker.svelte
  examples/svelte/MultiSelectPicker.svelte
  examples/svelte/TwoSideRangePicker.svelte
Due: none

add mode to picker option
  src/core/BasePicker.ts
  src/types/PickerTypes.ts
Due: npm run lint, npm run format
